/** DEFAULTS **/
body {
	background-color: var(--theme-page-background-color);
	color: var(--theme-page-text-color);
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
	color: var(--theme-page-text-color);
}

p,
ul,
ol {
	margin: 0rem;
}

pre {
	white-space: pre-wrap;
	background-color: rgba(183, 183, 183, 0.23);
	font-size: 1rem;
}

pre code {
	display: block;
	min-width: 296px;
	padding: 12px 24px;
	text-decoration: none;
}

pre,
textarea {
	tab-size: 4;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
}

button {
	align-items: center;
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--wds-primary-button-background-color);
	border: 1px solid var(--wds-primary-button-background-color);
	border-radius: 3px;
	box-sizing: content-box;
	color: var(--wds-primary-button-label-color);
	cursor: default;
	display: inline-flex;
	font-family: inherit;
	font-size: 12px;
	font-weight: 600;
	justify-content: center;
	letter-spacing: .15px;
	line-height: 16px;
	margin: 0;
	min-height: 18px;
	outline: none;
	padding: 7px 18px;
	text-decoration: none;
	text-transform: uppercase;
	transition-duration: .3s;
	transition-property: background-color, border-color, color;
	vertical-align: top;
}

button:active,
button:focus,
button:hover {
	background-color: var(--wds-primary-button-background-color--hover);
	border: 1px solid var(--wds-primary-button-background-color--hover);
	color: var(--wds-primary-button-label-color);
	text-decoration: none;

}

button:hover {
	cursor: pointer;
}

h1 {
	padding: 0.5em 0;
	margin: 0;
}

/** ROOT **/
:root {
	/* https://wwr-test.fandom.com/feeds-and-posts/public/896cca73b/assets/client.css */
	--webeditor-background-color: var(--theme-page-background-color);
	--webeditor-background-color--rgb: var(--theme-page-background-color--rgb);
	--webeditor-background-color--secondary: var(--theme-page-background-color--secondary);
	--webeditor-border-color: var(--theme-border-color);
	--webeditor-border-color--rgb: var(--theme-border-color--rgb);
	--webeditor-text-color: var(--theme-page-text-color);
	--webeditor-text-color--rgb: var(--theme-page-text-color--rgb);
	--webeditor-link-color: var(--theme-link-color);
	--webeditor-link-color--rgb: var(--theme-link-color--rgb);
	--webeditor-alert-color: var(--theme-alert-color);
	--webeditor-success-color: var(--theme-success-color);
	--webeditor-warning-color: var(--theme-warning-color);

	--wds-avatar-border-color: rgba(var(--theme-page-text-color--rgb), 0.7);
	--wds-avatar-border-color--hover: var(--theme-link-color);
	--wds-avatar-background-color: var(--theme-page-background-color);
	--wds-avatar-border-width: 2px;
	--wds-avatar-size: 36px;
	--wds-avatar-badge-size: 17px;
	--wds-avatar-border-width: 2px;
	--wds-avatar-badge-left: -5px;
	--wds-avatar-badge-top: -7px;

	--wds-primary-button-background-color: var(--theme-accent-color);
	--wds-primary-button-background-color--hover: var(--theme-accent-color--hover);
	--wds-primary-button-label-color: var(--theme-accent-label-color);
	--wds-secondary-button-label-color: var(--theme-page-text-color);
	--wds-secondary-button-label-color--hover: var(--theme-page-text-color--hover);
	--wds-text-button-label-color: var(--theme-page-text-color);
	--wds-text-button-label-color--hover: var(--theme-page-text-color--hover);

	--wds-dropdown-background-color: var(--theme-page-background-color--secondary);
	--wds-dropdown-border-color: var(--theme-border-color);
	--wds-dropdown-text-color: var(--theme-page-text-color);
	--wds-dropdown-linked-item-color: var(--theme-link-color);
	--wds-dropdown-linked-item-background-color: rgba(var(--theme-link-color--rgb), 0.1);
	--wds-dropdown-scrollable-shadow-color: rgba(var(--theme-page-text-color--rgb), 0.1);
	--wds-list-border-color: var(--theme-border-color);

	--wds-banner-notification-background-color: var(--fandom-banner-notification-background-color);
	--wds-banner-notification-text-color: var(--fandom-text-color);
	--wds-banner-notification-link-color: var(--fandom-link-color);
	--wds-banner-notification-link-color--hover: var(--fandom-link-color--hover);
	--wds-banner-notification-border-color: var(--fandom-border-color);
	--wds-banner-notification-close-icon: var(--fandom-banner-notifications-close-icon);
}
